<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
			                 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" 
			                 metadata-complete="true">
   <absolute-ordering/>

  <filter>
    <filter-name>characterEncoding</filter-name>
    <filter-class>org.beangle.commons.web.filter.CharacterEncodingFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>characterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>org.beangle.spring.web.ContextListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>app.sync</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.device</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.signin</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>app.upload</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>app.coursetable</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>app.activity</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.detail</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.rate</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.notice</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>app.sync</servlet-name>
    <url-pattern>/app/synctime</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.device</servlet-name>
    <url-pattern>/app/device</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.signin</servlet-name>
    <url-pattern>/app/signin</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>app.activity</servlet-name>
    <url-pattern>/app/currcourseinfo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.coursetable</servlet-name>
    <url-pattern>/app/courseinfo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.upload</servlet-name>
    <url-pattern>/app/dataupload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.detail</servlet-name>
    <url-pattern>/app/signindetail</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.rate</servlet-name>
    <url-pattern>/app/attrate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.notice</servlet-name>
    <url-pattern>/app/scrollingmsg</url-pattern>
  </servlet-mapping>
</web-app>
