<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
			                 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" 
			                 metadata-complete="true">
   <absolute-ordering/>

  <filter>
    <filter-name>characterEncoding</filter-name>
    <filter-class>org.beangle.commons.web.filter.CharacterEncodingFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>characterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>org.beangle.spring.web.ContextListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>app.teach.attendance.sync</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.teach.attendance.device</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.teach.attendance.signin</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>app.teach.attendance.upload</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>app.teach.attendance.coursetable</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>app.teach.attendance.activity</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.teach.attendance.detail</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.teach.attendance.rate</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.teach.attendance.notice</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>app.teach.attendance.importer</servlet-name>
    <servlet-class>org.beangle.commons.web.servlet.DelegatingServletProxy</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>app.teach.attendance.sync</servlet-name>
    <url-pattern>/teach/attendance/sync</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>app.teach.attendance.device</servlet-name>
    <url-pattern>/teach/attendance/device</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.teach.attendance.signin</servlet-name>
    <url-pattern>/teach/attendance/signin</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>app.teach.attendance.activity</servlet-name>
    <url-pattern>/teach/attendance/activity</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.teach.attendance.coursetable</servlet-name>
    <url-pattern>/teach/attendance/coursetable</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.teach.attendance.upload</servlet-name>
    <url-pattern>/teach/attendance/upload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.teach.attendance.detail</servlet-name>
    <url-pattern>/teach/attendance/detail</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.teach.attendance.rate</servlet-name>
    <url-pattern>/teach/attendance/rate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.teach.attendance.notice</servlet-name>
    <url-pattern>/teach/attendance/notice</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>app.teach.attendance.importer</servlet-name>
    <url-pattern>/teach/attendance/importer</url-pattern>
  </servlet-mapping>
</web-app>
